@model DigiStore.Models.CategoryModel

@{
    ViewData["Title"] = Resources.Titles.CategoryEdit;
}

<h1>@(Resources.Titles.CategoryEdit)</h1>
<h4>@(Resources.DataDictionary.CategoryModel)</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@(Resources.DataDictionary.CategoryName)" class="control-label">@(Resources.DataDictionary.CategoryName)</label>
                <input asp-for="@(Resources.DataDictionary.CategoryName)" class="form-control" />
                <span asp-validation-for="@(Resources.DataDictionary.CategoryName)" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@(Resources.ButtonCaptions.Save)" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@(Resources.ButtonCaptions.BackToList)</a>
</div>