@model DigiStore.Models.ProductModel

@{
    ViewData["Title"] = Resources.Titles.ProductCreate;
}

<h1>@(Resources.Titles.ProductCreate)</h1>
<h4>@(Resources.DataDictionary.ProductModel)</h4>

<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@(Resources.DataDictionary.ProductId)" class="control-label">@(Resources.DataDictionary.ProductId)</label>
                <input asp-for="@(Resources.DataDictionary.ProductId)" placeholder="@(Resources.DataDictionary.ProductId)" class="form-control" />
                <span asp-validation-for="@(Resources.DataDictionary.ProductId)" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="@(Resources.DataDictionary.ProductName)" class="control-label">@(Resources.DataDictionary.ProductName)</label>
                <input asp-for="@(Resources.DataDictionary.ProductName)" class="form-control" />
                <span asp-validation-for="@(Resources.DataDictionary.ProductName)" class="text-danger"></span>
            </div>
           
@*            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" />
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>
*@
            <div class="form-group">
                <label asp-for="@(Resources.DataDictionary.CategoryId)" class="control-label">@(Resources.DataDictionary.CategoryId)</label>
                <select asp-for="@(Resources.DataDictionary.CategoryId)" asp-items="@(new SelectList((List<CategoryModel>?)ViewData["Categories"], "CategoryId", "CategoryName"))" class="form-control"></select>
                <span asp-validation-for="@(Resources.DataDictionary.CategoryId)" class="text-danger"></span>
            </div>

           
             <div class="form-group">
                <label asp-for="@(Resources.DataDictionary.Price)" class="control-label">@(Resources.DataDictionary.Price)</label>
                <input asp-for="@(Resources.DataDictionary.Price)" class="form-control" />
                <span asp-validation-for="@(Resources.DataDictionary.Price)" class="text-danger"></span>
            </div>
           
@*             <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>*@
           
            <div class="form-group">
                <input type="submit" value="@(Resources.ButtonCaptions.Create)" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@(Resources.ButtonCaptions.BackToList)</a>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("PartialViews/_ValidationScriptsPartial");
    }
}
